body {
    overflow-x: hidden;

}

#wlcm-heading {
    padding: 15px;
    font-size: 2.8em;
}

.main-container-recipe {
    height: 600px;
    width: 100vw;
    margin: 20px 0;
    /* border: 5px black solid; */
    display: grid;
    padding: 30px 17px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    overflow-y: scroll;
    color: aquamarine;
    border-radius: 30px;
}

.recipe1 {
    height: auto;
    background-color: aquamarine;
    display: inline-block;
    border: 1px dotted blue;
    margin: 5px;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color;
 */
    box-shadow: 2px 2px 8px black;
    border-radius: 20px;
    gap: 3px;
}

.in1{
    margin: 20px 12px;
}

.recipe1 img {
    grid-column: auto;
    max-width: 280px;
    height: 270px;
    background-size: contain;
    /* background-repeat: space; */
    border-radius: 30px;
}

.recipe1 {
    padding: 10px 25px;
}

.in1 li {
    list-style: none;
    font-size: 1.2em;
    font-weight: 600;

}

.in1 a {
    color: rgb(16, 29, 29);
}

.ou2 ul{
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.ou2 ul li{
    flex: 0 0 35%;
    padding-bottom: 3px;
}